<div class="modal-header">
    <div class="row">
        <div class="col" style="padding: 0px 10px">
            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" ng-click="cancel()" style="cursor:pointer"> </span>
            <h3 class="modal-title"> Venta </h3>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <h4> Ciudad : <span> {{ sell.ciudad }} </span>  </h4> 
        </div>
        <div class="col-sm-6">
           <h4> Dinero :  <span> {{ sell.money }}</span>  </h4> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4> Hora : <span> {{ sell.time }} </span> </h4> 
        </div>
        <div class="col-sm-6">
           <h4> NIT : <span> {{ sell.nit }} </span> </h4> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4> Tarjeta : <span> {{ sell.tarjeta }} </span> </h4> 
        </div>
        <div class="col-sm-6">
           <h4> Tipo de Tarjeta : <span> {{ sell.tipoTarjeta }} </span> </h4> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4> NúmeroTX : <span> {{ sell.numeroTX }} </span> </h4> 
        </div>
        <div class="col-sm-6">
           <h4> Código : <span> {{ sell.codigo }} </span> </h4> 
        </div>
    </div>
</div>
