# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#Logs and DB's #
############
*.log
*.sql
*.sqlite

# OS generated #
############
.DS_Store
.DS_Store?
._*
.Trashes

# Build Systems #
############
node_modules/
.sass-cache
*.css.map
build/
dist/